---
name: Markdown Links Validation

on: [push, workflow_dispatch]

jobs:
  check-links:
    strategy:
      matrix:
        file-extension: [.mdx, .md]

    runs-on: self-hosted
    steps:

      - name: Checkout this repository
        uses: actions/checkout@v3.5.3

      - name: Validate Links Markdown ${{ matrix.file-extension }} files
        if: always()
        uses: gaurav-nelson/github-action-markdown-link-check@1.0.15
        with:
          config-file: '.markdownlinkcheck.json'
          use-quiet-mode: 'yes'
          file-extension: ${{ matrix.file-extension }}
