---
name: Markdown Syntax Validation

on: [push, workflow_dispatch]

jobs:
  check-markdown:
    strategy:
      matrix:
        configs: [
          {
            which: ".md",
            files: "**.md",
            config: "md.markdownlint.json"
          },
          {
            which: ".mdx",
            files: "**.mdx",
            config: "mdx.markdownlint.json"
          }
        ]

    runs-on: ubuntu-latest
    steps:
      - name: Checkout this repository
        uses: actions/checkout@v4.1.1

      - name: Validate Markdown (${{ matrix.configs.which }})
        uses: DavidAnson/markdownlint-cli2-action@v15.0.0
        with:
          config: "${{ matrix.configs.config }}"
          globs: ${{ matrix.configs.files }}
