---
name: Validate CSS files
on: [push, workflow_dispatch]

jobs:
  check-css:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout the code
        uses: actions/checkout@v4.1.0

      - name: stylelint
        uses: actions-hub/stylelint@v1.1.6
        env:
          PATTERN: "**/*.css"
