name: Release new docs
env:
  ARGO_NAMESPACE: argo
  ARGO_VERSION: v3.4.1
  CONTAINER_REGISTRY_URL: 'public.ecr.aws/kubefirst'
on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  release:
    runs-on: self-hosted
    steps:
      - name: Setup Runner for Argo
        run: |
          cd $HOME
          echo "Install argo"
          # Download the binary
          curl -sLO https://github.com/argoproj/argo-workflows/releases/download/${ARGO_VERSION}/argo-linux-amd64.gz
          # Unzip
          gunzip argo-linux-amd64.gz
          # Make binary executable
          chmod +x argo-linux-amd64
          # Move binary to path
          sudo mv ./argo-linux-amd64 /usr/local/bin/argo
          # Test installation
          argo version --short

      - name: Check out repository code
        uses: actions/checkout@v3

      - name: Inject slug/short variables
        uses: rlespinasse/github-slug-action@v4

      # todo need to look repositoryGitURL, this needs to be overrideable from here and respected on the template side for both repositories
      - name: Deploy docs on production
        run: |
          echo "commit sha $GITHUB_SHA"
          argo version --short
          argo submit .argo/release.yaml \
            --generate-name="${GITHUB_REPOSITORY_NAME_PART}-release-${GITHUB_SHA_SHORT}-${GITHUB_RUN_ATTEMPT}-" \
            -p appName="${GITHUB_REPOSITORY_NAME_PART}" \
            -p branch="${GITHUB_REF_NAME}" \
            -p clusterName="mgmt-20-kubefirst-com" \
            -p environment="production" \
            -p gitUrlNoProtocol="git@github.com:${GITHUB_REPOSITORY_OWNER_PART_SLUG}" \
            -p containerRegistryURL="${CONTAINER_REGISTRY_URL}/${GITHUB_REPOSITORY_NAME_PART}:${GITHUB_SHA_SHORT}" \
            -p shortSha="${GITHUB_SHA_SHORT}" \
            --wait --log
